html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: black;
	color: white;
	overflow: hidden;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.display {
	width: 100%;
	height: 120%;
	position: absolute;
	display: none;
}
