@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
	font-family: "Inter", sans-serif;
	color: white;
	cursor: none;
}
html {
	min-height: 100%;
	width: 100%;
}
body {
	background: linear-gradient(
		135deg,
		rgb(26, 0, 51),
		rgb(85, 32, 122),
		rgb(242, 198, 133)
	);
	min-height: 100%;
	width: 100%;
	overflow-x: hidden;
}
.nav {
	position: relative;
	margin: 20px auto 0 auto;
	padding: 6px;
	width: 95vw;
	height: 5vh;
	min-height: 45px;
	border-radius: 6px;
	border: 1px solid rgba(29, 29, 29, 0.658);
	background: rgba(58, 58, 58, 0.404);
	backdrop-filter: blur(12px) saturate(140%);
	display: flex;
	align-items: center;
}
.nav h1 {
	margin: 0;
	line-height: 1;
	user-select: none;
}
.nav .buttons {
	margin-left: auto;
	display: flex;
	gap: 6px;
}
.nav .buttons button {
	height: 48px;
	width: 48px;
	background: transparent;
	border: 1px solid white;
	border-radius: 6px;
	transition: 0.4s ease-in-out;
}
.nav .buttons button:hover {
	height: 48px;
	width: 48px;
	background: rgba(255, 255, 255, 0.3);
	border: 1px solid white;
	border-radius: 6px;
}
.container {
	position: relative;
	margin: 10% auto 0 auto;
	display: grid;
	gap: 7.5px;
	width: 90%;
	grid-template-columns: repeat(auto-fill, minmax(150px, max-content));
	justify-content: center;
}
.card {
	width: 150px;
	height: 200px;
	border: 1px solid rgba(29, 29, 29, 0.658);
	background: rgba(58, 58, 58, 0.404);
	border-radius: 12px;
	text-align: center;
	box-sizing: border-box;
	transition: 0.3s ease-in-out;
}
.card:hover {
	padding: 4px;
	border: 4px solid rgb(255, 255, 255);
}

.card img {
	width: 100%;
	height: 70%;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}
.cursor {
	position: absolute;
	pointer-events: none;
	filter: invert(1);
	mix-blend-mode: difference;
	transition: opacity 0.3s ease-in-out;
	z-index: 999;
}
.not-found {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid rgb(185, 185, 185);
	padding: 6px;
	border-radius: 6px;
	height: 200px;
	background: rgba(49, 49, 49, 0.322);
	text-align: center;
}
.not-found button {
	background: transparent;
	border: 1px solid white;
	font-size: 2rem;
	border-radius: 6px;
	margin-top: 20px;
}

select {
	background: transparent;
	border: 1px solid white;
	border-radius: 6px;
	width: 125px;
	height: 30px;
	text-align: center;
	box-sizing: border-box;
	transition: 0.3s ease-in-out;
}
select:hover {
	padding: 5px;
	width: 130px;
	height: 35px;
	border: 4px solid rgb(255, 255, 255);
}
option {
	background-color: transparent;
	border-radius: 6px;
	color: black;
}
.settings-container {
	margin-top: 200px;
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	justify-content: center;
	align-items: center;
	width: max-content;
}
.settings-category {
	margin-top: 5px;
	width: 35vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 8px;
	min-width: 300px;
	padding: 6px;
	height: 300px;
	background: rgba(58, 58, 58, 0.404);
	border: 1px solid rgba(199, 199, 199, 0.534);
}
.settings-category h2 {
	text-align: left;
}
